<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <a class="navbar-brand" href="/inicio">Home</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mostrar Noticia
                    </a>
                    <ul class="dropdown-menu">
                        <li th:each ="noticia : ${noticias}" ><a th:text="${noticia.titulo}" class="dropdown-item" th:href="@{/ampliar/__${noticia.id}__}"></a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/noticia/agregar">Agregar Noticia</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Modificar Noticia
                    </a>
                    <ul class="dropdown-menu">
                        <li th:each ="noticia : ${noticias}" ><a th:text="${noticia.titulo}" class="dropdown-item" th:href="@{/noticia/modificar/__${noticia.id}__}"></a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/noticia/administrar/eliminar">Eliminar Noticia</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="/noticia/administrar/eliminar">Administrar Usuarios</a>
                </li>
                
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Perfil
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/logout">Cerrar Sesión</a></li>
                    </ul>
                </li>


            </ul>
        </div>
    </div>
</nav>