<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html  xmlns:th:"http://www.thymeleaf.org">
       <head th:replace = "/fragments/head :: head">   </head>
    <body>

        <div  th:replace = "/fragments/error_exito :: div" > </div>

        <nav th:replace = "/fragments/navbar :: nav" > </nav>

        <h1>Pagina de Noticias EGG</h1>


        <div th:each ="noticia : ${noticias}" class="card-group" style="width: 18rem;">
            <div class="card">
                <div class="card-body">
                    <h5 th:text="${noticia.titulo}" class="card-title"></h5>
                    <p th:text="${noticia.cuerpoCorto}" class="card-text"></p>
                    <a th:href="@{/ampliar/__${noticia.id}__}" class="btn btn-primary">Ampliar Noticia</a>
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

    </body>
</html>
